.headerContainer{
    grid-area: h;
    width: 100%;
    background-color: #fff;
}
.header {
    display: grid;
    grid-template-areas:"l n p";
    grid-template-rows: 100px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 50px;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}

.header img {
    grid-area: l;
    margin: 20px 20px;
    width: 100%;
}
.login{
    grid-area: p;
}
.login > a{
    color: #fff;
    text-decoration: none;
}
.ava{
    max-width: 50px;
    border-radius: 50%;
}