
.nav {
    grid-area: n;
    background-color: lightgreen;
    padding: 20px;
}

.dialog a{
    color: #fff;
    text-decoration: none;
}
.dialog a.active{
    color: gold;
}
.dialog.active {
    color:gold;
}