.profileInfoContainer {
    background-color: #fff;
}

.descriptionBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 247px;
}

.imageContainer {
    width: 100%;
    text-align: center;
    position: relative;
    /*top: -95px;*/
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}

.imageBlock {
    position: relative;
    top: -75px;
}

.profilePhoto {
    width: 100%;
    max-width: 180px;
    border-radius: 50%;
    border: 5px solid #fff;
}
.contactsBlock{

}