
.app-wrapper {
    display: grid;
    height: 100%;
    margin: 0 auto;
    grid-template-areas:"h h h"
    'n c s';
    grid-template-rows: 100px 1fr;
    grid-template-columns: 1fr 10fr 1fr;
    grid-gap: 8px;
}
.app-content{
    width: 100%;
    max-width: 1200px;
}
.app-wrapper-content{
    grid-area: c;
    height: 100%;
    background-color: #c8dcec;
}

.navSidebar {
    grid-area: p;

    background-color: #e8e8e8;
}
