*{
    box-sizing: border-box;
}
.app-wrapper {
    display: grid;
    height: 100%;
    margin: 0 auto;
    grid-template-areas:"h h h"
    'n c s';
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr 10fr 1fr;
    background-color: #f2f2f2;
}

.app-content {
    width: 100%;
    max-width: 1200px;
}

.app-wrapper-content {
    grid-area: c;
    height: 100%;
}

.navSidebar {
    grid-area: p;

}
